
<div id="main">
    <div class="col-md-2">
        <br/>
        <br/>
        <nav id="year-nav">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#2012">2012</a></li>
                <li><a href="#2011">2011</a></li>
                <li><a href="#2009">2009</a></li>
                <li class="disabled"><a class="text-center">...</a></li>
                <li><a href="#2007">2007</a></li>
                <li><a href="#2006">2006</a></li>
                <li><a href="#2005">2005</a></li>
                <li class="disabled"><a class="text-center">...</a></li>
                <li><a href="#1999">1999</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-8">
        <div class="jumbotron row">
            <div class="col-md-9">
                <h2>My Achievements</h2>
                <p>This page shows the most notable awards I've received.</p>
            </div>
             <div class="col-md-3">
                <img alt="me" class="img-responsive" src="img/achievement.gif"/>
            </div>
        </div>
        <div class="preview">
        <h1 id="2012">2012</h1>
        <hr>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="img/achievements/2012/BYLP.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="BYLP" src="img/achievements/2012/BYLP-thumb.png"/>
                </a>
                <h4>Certificate, Bulgarian Young Leaders Program</h4>
            </div><!--/col-md-6-->
    
            <div class="col-md-6 text-center">
                <a href="img/achievements/2012/TFAS.png" target="_blank">
                    <img  class="img-responsive img-rounded no-margin" alt="The Fund For American Studies Certificate" src="img/achievements/2012/TFAS-thumb.png"/>
                </a>
                <h4>Certificate, American Institute on Political and Economic Systems</h4>
            </div><!--/col-md-6-->
            
        </div><!--/row-->
        
        <br/>
        
        <h1 id="2011">2011</h1>
        <hr>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <a href="img/achievements/2011/ACM.png" target="_blank">
                    <img  class="img-responsive img-rounded no-margin" alt="ACM Northwest Regional Programming Competition Certificate" src="img/achievements/2011/ACM-thumb.png"/>
                </a>
                <h4>Certificate, Northeast Regional ACM Programming Competition</h4>
            </div><!--/col-md-6-->
        </div><!--/row-->
        
        <br/>
        <h1>...</h1>
        <br/>
        
        <h1 id="2009">2009</h1>
        <hr>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="img/achievements/2009/Davidson.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="Davidson Scholarship Certificate" src="img/achievements/2009/Davidson-thumb.png"/>
                </a>
                <h4>Davidson Scholarship</h4>
            </div><!--/col-md-6-->
    
            <div class="col-md-6 text-center">
                <a href="img/achievements/2009/Dean's%20List.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="Dean's List Letter" src="img/achievements/2009/Dean's%20List-thumb.png"/>
                </a>
                <h4>Dean's List</h4>
            </div><!--/col-md-6-->
            
        </div><!--/row-->
    
        <br/>
        
        <h1 id="2008">2008</h1>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="img/achievements/2008/Brass%20Band.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="FELS Brass Band Certificate" src="img/achievements/2008/Brass%20Band-thumb.png"/>
                </a>
                <h4>Certificate, First English Language School Brass Band</h4>
            </div><!--/col-md-6-->
    
            <div class="col-md-4 text-center">
                <a href="img/achievements/2008/FELS%20Anniversary%20Concert.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="FELS Anniversary Concert Certificate" src="img/achievements/2008/FELS%20Anniversary%20Concert-thumb.png"/>
                </a>
                <h4>Certificate, First English Language School Anniversary Concert</h4>
            </div><!--/col-md-6-->
            
        
            <div class="col-md-4 text-center">
                <a href="img/achievements/2008/FELS%20Honors.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="FELS Honors Certificate" src="img/achievements/2008/FELS%20Honors-thumb.png"/>
                </a>
                <h4>Highest Honors, First English Language School Graduation Ceremony</h4>
            </div><!--/col-md-6-->
         </div><!--/row-->
    
        <br/>
        
        <h1 id="2007">2007</h1>
        <hr>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
                <a href="img/achievements/2007/Drama%20Contest.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="FELS Melopomene Drama Contest Certificate" src="img/achievements/2007/Drama%20Contest-thumb.png"/>
                </a>
                <h4>Certificate of Excellence, Melopomene Drama Contest</h4>
            </div><!--/col-md-6-->
            
        </div><!--/row-->
    
        <br/>
        
                
        <h1 id="2006">2006</h1>
        <hr>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="img/achievements/2006/Physics%20in%20Biology%20and%20Medicine.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="Physics in Biology and Medicine Student Conference Certificate" src="img/achievements/2006/Physics%20in%20Biology%20and%20Medicine-thumb.png"/>
                </a>
                <h4>Certificate, "Physics in Biology and Medicine" Student Conference</h4>
            </div><!--/col-md-6-->
    
            <div class="col-md-6 text-center">
                <a href="img/achievements/2006/Physics%20Thrugh%20My%20Eyes.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="Physics Through My Eyes Student Conference Certificate" src="img/achievements/2006/Physics%20Thrugh%20My%20Eyes-thumb.png"/>
                </a>
                <h4>Certificate, "Physics Through My Eyes" Student Conference</h4>
            </div><!--/col-md-6-->
            
        </div><!--/row-->
    
        <br/>
        
        <h1 id="2005">2005</h1>
        <hr>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="img/achievements/2005/Physics%20Day.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="Physics Day Student Exhibition Certificate" src="img/achievements/2005/Physics%20Day-thumb.png"/>
                </a>
                <h4>Certificate, "A Day of Physics" Student Exhibition</h4>
            </div><!--/col-md-6-->
    
            <div class="col-md-6 text-center">
                <a href="img/achievements/2005/Physics%20Olympiad.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="Third Place on the Regional Olympiad in Physics" src="img/achievements/2005/Physics%20Olympiad-thumb.png"/>
                </a>
                <h4>Third Place, Regional Olympiad in Physics</h4>
            </div><!--/col-md-6-->
            
        </div><!--/row-->
        
        <br/>
        <h1>...</h1>
        <br/>
        
        <h1 id="1999">1999</h1>
        <hr>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <a href="img/achievements/1999/Prize%202k.png" target="_blank">
                    <img class="img-responsive img-rounded no-margin" alt="Prize 2000 for Excellence in Performing Arts - Piano" src="img/achievements/1999/Prize%202k-thumb.png"/>
                </a>
                <h4>Prize 2000 for Excellence in Performing Arts - Piano</h4>
            </div><!--/col-md-6-->
            
        </div><!--/row-->
        </div>
        <%= render 'layouts/footer' %>
    </div><!--/preview -->
</div><!--/main-->

<script>
$(document).ready(function () {
    $('#year-nav').affix();
    $('body').scrollspy({ target: '#year-nav' });
});
</script>
