<div id="main">
    <div id="me" class="section">
        <div class="col-md-4 feature">
            <h1>Yavor Stoychev</h1>
            <h3>Software Engineer & Entrepreneur</h3>
            <a href="https://www.facebook.com/stoychev.yavor" target="_blank">
                <img src="http://cdn.stoychev.bg/icons/social/fb.png" alt="facebook"/>
            </a>
            <a href="http://www.linkedin.com/pub/yavor-stoychev/4a/bb1/51a/" target="_blank">
                <img src="http://cdn.stoychev.bg/icons/social/li.png" alt="linkedin"/>
            </a>
            
            <p>Hello and welcome!</p>
            <p>I am a software professional with more than 3 years of experience designing and developing large-scale distributed systems and rich frontends for industry leaders, startups, and nonprofits.</p>
            <p>Feel free to view <a href="dl/resume/Yavor_Stoychev__Resume.pdf" target="_blank">my resume</a> or scroll down to learn more about me.</p>
        </div><!--/feature -->
    </div><!--/section-->
    <div id="bio" class="section">
        <div class="col-md-5 feature">
            <h2>Bio</h2>
            <p>
                I was born in 
                    <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                        <span itemprop="locality">Sofia</span>, <span itemprop="country-name">Bulgaria</span> 
                    </span> on 
                    <span itemprop="birthDate">15 September 1989</span>. This makes me exactly <span id="age"></span> old. 
                I was born into a family of scientists, and was raised to love science in all its forms.
                I also developed an early interest in music, and started playing the piano at the age of six.
                Nowadays I mostly play guitar and clarinet. I also enjoy travelling and outdoor photography.
                I love hiking, camping, skiing, and swimming.
                I have travelled to many places in the United States and Europe, and I will travel to many more whenever I get the chance.
            </p>
        </div><!--/feature -->
    </div><!--/section-->
    
    
    <div id="work" class="section">
          <div class="col-md-5 feature">
           <h2>Work</h2>
            <p>
                I provide efficient solutions to real-world problems. I use bleeding edge 
                software for my personal projects and infrastructure, which enables me to keep up with emerging technologies. 
                I often promote these techonologies if I feel they will improve productivity, performance, and/or developer happiness.
                I love open source.
                
                I thrive in any work environment that encourages innovation. I have experience working with big companies
                 (<a href="http://amazon.com" itemprop="affiliation">Amazon</a>), as well as startups (<a href="http://transmetrics.eu" itemprop="affiliation">Transmetrics</a>).
                I am a member of the <a href="http://ablebulgaria.org/" itemprop="affiliation">Association of Bulgarian Leaders and Entrepreneurs</a>.
                 

            </p>
          </div><!--/feature-->
    </div><!--/section-->
    
    <div id="education" class="section">
        <div class="col-md-5 text-muted feature">
            <h2>Education</h2>
            <p>
                I hold a Bachelor of Arts degree in Computer Science and Economics with a minor in Math from the 
                    <span itemprop="alumniOf" itemscope itemtype="http://data-vocabulary.org/EducationalOrgainzation">
                        <a href="http://www.aubg.bg" itemprop="name">American University in Bulgaria</a>
                    </span>.
                I also spent one semester in the 
                    <span itemprop="alumniOf" itemscope itemtype="http://data-vocabulary.org/EducationalOrgainzation">
                        <a href="http://www.ovgu.de" itemprop="name">Otto-von-Guericke University</a> in Magdeburg, Germany as an Erasmus student.
                    </span>
                During my senior year, I received the Bulgarian Young Leaders Award for 2011 and spent three academic quarters at the 
                    <span itemprop="alumniOf" itemscope itemtype="http://data-vocabulary.org/EducationalOrgainzation">
                        <a href="http://rit.edu" itemprop="name">Rochester Institute of Technology.</a>
                    </span>
                I attended the 
                    <span itemprop="alumniOf" itemscope itemtype="http://data-vocabulary.org/EducationalOrgainzation">
                         <a href="http://www.fels-sofia.org" itemprop="name">First English Language School</a>
                    </span>
                 and graduated with honors.
                I also attended the 
                    <span itemprop="alumniOf" itemscope itemtype="http://data-vocabulary.org/EducationalOrgainzation">
                        <a href="http://www.nmu-bg.org" itemprop="name">National School of Music</a>
                    </span>
                     where I received several awards for my piano playing.
            </p>
        </div><!--/feature -->
    </div><!--/section-->
    
    
    <div id="interests" class="section">
        <div class="col-md-offset-6 col-md-6 text-muted feature">
            <h2>Interests</h2>
            <p>
                My interests in Computer Science are in the areas of Operating Systems, Algorithms, and Distributed Systems.
                I think P != NP, and I'll live to see it proven.
                I like Java, but I also like the low-level stuff: C, Assembly.
                I run Arch Linux on all my devices, except my phone. It runs MeeGo.  
            </p>
            <p>
                My interests in Economics are mainly in the field of Economic Policy.
                I believe that the economy needs some regulation, because competition is *not* perfect in the real world.
                There is no perfect information. Most markets "suffer" from economies of scale.
            </p>
        </div><!--/feature -->
    </div><!--/section-->
    <div class="navbar-inverse text-muted">
        <div class="container">
            <%= render 'layouts/footer' %>
            <%= @age %>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $("#age").html(getAge("9/15/1989"));
});
</script>
