<div id="main" class="container">
    <div class="jumbotron table">
        <div class="table-cell">
        <h1>My Projects</h1>
        <br/>
        <p>
            The projects below have been developed solely by me. 
            Unless otherwise specified, the source code of these projects is available under GPL3. 
            Additional licensing options, support, and customization services are avalable to meet customer requirements.
        </p>
        <button class="btn btn-success" data-toggle="modal" data-target="#contact-form"><span class="glyphicon glyphicon-envelope"></span> Contact Me</button>
        </div>
         <div class="table-cell right">
            <img alt="me" src="img/code.gif"/>
        </div>
    </div>
    
    
    
    <div itemscope itemtype="http://data-vocabulary.org/Product">
        <div class="row">
            <div class="col-md-12">
                <h2 itemprop="name">TAGS</h2>
                <span class="label label-warning">Java</span> <span class="label label-info">JS</span> <span class="label label-success">HTML5</span>
            </div><hr>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <span class="hide" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
                    <span itemprop="lowPrice">0.00</span>
                    <meta itemprop="currency" content="USD" />
                </span>
                <p itemprop="description">
                    An extensible social network written in Java. It uses the Neo4j graph database, and supports many different deployment options to meet the needs of our customers.
                    The service backend provides a REST API that can be used by the included web-backend, as well as apps written in any language/framework that suports AJAX. Source code available under a commercial license.
                </p>
                <a href="http://tags.stoychev.bg" class="btn btn-primary" target="_blank"><i class="glyphicon glyphicon-new-window"></i> Demo</a>
            </div><!--/col col-md-6-->
            <div class="col-md-6 preview">
                <a href="img/products/tags/tags-graph-search.png" class="col-md-6">
                    <img alt="TAGS Overview" class="img-responsive img-rounded" src="img/products/tags/tags-graph-search.png"/>
                </a>
                <a href="img/products/tags/tags-full-search.png" class="col-md-6">
                    <img alt="TAGS Details" class="img-responsive img-rounded" src="img/products/tags/tags-full-search.png"/>
                </a>
            </div>
        </div>
    </div>
    <br/><br/><br/>
    
    <div itemscope itemtype="http://data-vocabulary.org/Product">
        <div class="row">
            <div class="col-md-12 text-right">
                <h2 itemprop="name">Books on Rails</h2>
                <span class="label label-danger">Rails</span> <span class="label label-info">JS</span> <span class="label label-success">HTML5</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 preview">
                <a href="img/products/books-on-rails/books-on-rails-overview.png" class="col-md-6">
                    <img alt="Books on Rails Overview" class="img-responsive img-rounded" src="img/products/books-on-rails/books-on-rails-overview.png"/>
                </a>
                <a href="img/products/books-on-rails/books-on-rails-book-details.png" class="col-md-6">
                    <img alt="Books on Rails Details" class="img-responsive img-rounded" src="img/products/books-on-rails/books-on-rails-book-details.png"/>
                </a>
            </div>
            <div class="col col-md-6">
                <span class="hide" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
                    <span itemprop="lowPrice">0.00</span>
                    <meta itemprop="currency" content="USD" />
                </span>
                <p itemprop="description">
                    A library management system written in Ruby on Rails. It allows library members to search for books and reserve them on-line. Books on Rails will launch together with the Sofia Entrepreneurship Library. 
                    Source code available under a commercial license. <strong>Free for nonprofits!</strong>
                </p>
                <a href="http://lib.stoychev.bg" class="btn btn-primary" target="_blank"><i class="glyphicon glyphicon-new-window"></i> Demo</a>
            </div><!--/col col-md-6-->
        </div>
    </div>
    <br/><br/><br/>
    
                
    <div itemscope itemtype="http://data-vocabulary.org/Product">
        <div class="row">
            <div class="col-md-12">
                <h3 itemprop="name">Tiny Rails Gallery</h3>
                <span class="label label-danger">Rails</span> <span class="label label-info">JS</span> <span class="label label-success">HTML5</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col col-md-6">
                <span class="hide" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
                    <span itemprop="lowPrice">0.00</span>
                    <meta itemprop="currency" content="USD" />
                </span>
                <p itemprop="description">
                    A minimalistic web gallery that scans predefined folders and displays images in these folders. Fully responsive design allowing excellent viewing experience on both large devices and handhelds.
                </p>
               <a href="https://github.com/voran/tiny-rails-gallery" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-star"></i> GitHub</a>
            </div><!--/col col-md-6-->
            <div class="col-md-6 preview">
                <a href="img/products/tiny-rails-gallery/tiny-rails-gallery-overview.png" class="col-md-6">
                    <img alt="Tiny Rails Gallery Overview" class="img-responsive img-rounded" src="img/products/tiny-rails-gallery/tiny-rails-gallery-overview.png"/>
                </a>
                <a href="img/products/tiny-rails-gallery/tiny-rails-gallery-details.png" class="col-md-6">
                    <img alt="Tiny Rails Gallery Details" class="img-responsive img-rounded" src="img/products/tiny-rails-gallery/tiny-rails-gallery-details.png"/>
                </a>
            </div>
        </div>
    </div>
    <br/><br/><br/>
    
    <div itemscope itemtype="http://data-vocabulary.org/Product">
        <div class="row">
            <div class="col-md-12 text-right">
                <h2 itemprop="name">DBE</h2>
                <span class="label label-default">PHP</span> <span class="label label-success">HTML5</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 preview">
                <a href="img/products/dbe/dbe-overview.png" class="col-md-6">
                    <img alt="DBE Overview" class="img-responsive img-rounded" src="img/products/dbe/dbe-overview.png"/>
                </a>
                <a href="img/products/dbe/dbe-edit.png" class="col-md-6">
                    <img alt="DBE Edit" class="img-responsive img-rounded" src="img/products/dbe/dbe-edit.png"/>
                </a>
            </div>
            <div class="col col-md-6">
                <span class="hide" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
                    <span itemprop="lowPrice">0.00</span>
                    <meta itemprop="currency" content="USD" />
                </span>
                <p itemprop="description">
                    Database Explorer (DBE) is a web-based database administration tool written in PHP. It supports MySQL, PostgreSQL, Firebird, SQLite, Oracle, and Microsoft SQL Server.
                    DBE can detect primary key, foreign key, and null constraints and can import and export data in SQL, XML, and CSV.
                </p>
                <a href="https://github.com/voran/dbe" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-star"></i> GitHub</a>
            </div><!--/col col-md-6-->
        </div>
    </div>
    <br/><br/><br/>
    
    <div itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
        <div class="row">
            <div class="col-md-12">
                <h2 itemprop="name">Share Scanner</h2>
                <span class="label label-primary">Python</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col col-md-6" itemscope itemtype="http://data-vocabulary.org/Product">
                <span class="hide" itemprop="offerDetails">
                    <span itemprop="lowPrice">0.00</span>
                    <meta itemprop="currency" content="USD" />
                </span>
                <p itemprop="description">
                    Share Scanner is a Samba share browser for GNU/Linux. It uses the PyGTK library and integrates well with the GNOME desktop.
                    Share Scanner indexes network shares on the local network and presents the user with a list of files, their size, and their location on the network.
                    Share Scanner can download multiple files at once.
                </p>
                <a href="https://github.com/voran/sharescanner" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-star"></i> GitHub</a>
            </div><!--/col col-md-6-->
            <div class="col-md-6 preview">
                <a href="img/products/sharescanner/sharescanner-list.png" class="col-md-6">
                    <img alt="Sharescanner List" class="img-responsive img-rounded" src="img/products/sharescanner/sharescanner-list.png"/>
                </a>
                <a href="img/products/sharescanner/sharescanner-queue.png" class="col-md-6">
                    <img alt="Sharescanner Queue" class="img-responsive img-rounded" src="img/products/sharescanner/sharescanner-queue.png"/>
                </a>
            </div>
        </div><!--/row-->
     </div>
    <br/><br/><br/>
    
    <div class="row text-center">
        <h2>Python Toolbox</h2>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col col-md-4" itemscope itemtype="http://data-vocabulary.org/Product">
            <h4 itemprop="name">pyGaleShapley</h4>
            <span class="label label-primary">Python</span>
            
            <span class="hide" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
                <span itemprop="lowPrice">0.00</span>
                <meta itemprop="currency" content="USD" />
            </span>
            <p itemprop="description">
                A Python implementation of the Gale-Shapley Algorithm.
            </p>
            <a href="https://github.com/voran/pyGaleShapley" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-star"></i> GitHub</a>
        </div><!--/col col-md-4-->

        <div class="col col-md-4" itemscope itemtype="http://data-vocabulary.org/Product">
            <h4 itemprop="name">pyHeap</h4>
            <span class="label label-primary">Python</span>
            <span class="hide" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
                <span itemprop="lowPrice">0.00</span>
                <meta itemprop="currency" content="USD" />
            </span>
            <p itemprop="description">
                A simple heap implementation.
            </p>
            <a href="https://github.com/voran/pyHeap" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-star"></i> GitHub</a>
        </div><!--/col col-md-4-->
        
        
        <div class="col col-md-4" itemscope itemtype="http://data-vocabulary.org/Product">
            <h4 itemprop="name">pyTradingHelper</h4>
            <span class="label label-primary">Python</span>
            <span class="hide" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-aggregate">
                <span itemprop="lowPrice">0.00</span>
                <meta itemprop="currency" content="USD" />
            </span>
            <span class="hide" itemprop="price">0.00</span>
            <p itemprop="description">
                Tells you when *was* the best time to buy and sell.
            </p>
            <a href="https://github.com/voran/pyTradingtHelper" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-star"></i> GitHub</a>
        </div><!--/col col-md-4-->

    </div><!--/row-->
    <%= render 'layouts/footer' %>
</div><!--/container-->