<div id="main" class="container">
<h2>Terms &amp; Conditions for Subcontract Work</h2>

<br/><br/><br/>
<p>
This agreement dictates the terms for the relationship between a Client who is engaging my services as a contractor and myself, Yavor Stoychev. This Agreement sets the terms, rights, restrictions and 
obligations on any products created  and any services undertaken by me, as detailed herein. 
</p>

<br/>

<strong>Charges</strong> 
<p>
I will invoice the Client at the end of each month for the amount of the Charges agreed beforehand and incurred during that month and the Client will pay the amount of the Charges 
invoiced 
within 7 days of receipt of such invoice, unless otherwise agreed.
</p>

<p>
The Client acknowledges and agrees that estimates given may be subject to change and that a balancing payment(s) may be required to pay the Charges in full.
</p>

<p>
I will have the right to suspend and/or terminate the performance of any of my obligations under this Agreement in the event of any non-payment by the Client or breach of the Client’s obligations 
pursuant to Client Responsibilities.
</p>

<br/>

<strong>License Grant</strong>
<p>
In exchange for the Charges, I will grant the Client a non-exclusive and non-assignable license to use the software products I develop on a single domain for themselves or their client(s). 
I reserve the right to veto any use outside the scope of this license (including any purported sub-licensing, on-selling or assigning) and the Client will not reverse engineer or decompile the Software 
save as permitted by law.
</p>

<p>
I will retain full Intellectual Property Rights to any products I create for the Client, unless I have given my prior written consent. 
</p>

<br/>

<strong>Third Party Materials</strong>
<p>
I will notify the Client of any Third Party Materials that I intend to use in the Products and the Client acknowledges and accepts that the Third Party Products will be supplied to the Client in 
accordance with the respective copyright licensor's terms.
</p>

<br/>

<strong>Client Responsibilities</strong>
<p>
The Client acknowledges that my ability to provide the Services is dependent upon the full and timely co-operation of the Client (which the Client agrees to provide) as well as the accuracy and 
completeness of any information and data the Client provides to me.
</p>

<br/>

<strong>Limitation of Liability</strong>
<p>
I will carry out my work in accordance with good industry practice and at the standard expected from a suitably qualified person with relevant experience.
</p>

<p>
I cannot guarantee that my work will be error-free and so I will not be liable to the Client or any third-party for damages, including lost profits, lost savings or other incidental, consequential or 
special damages, even if the Client has advised me of them. Finally, if any provision of this contract shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed 
severable from this contract and shall not affect the validity and enforceability of any remaining provisions.
</p>
<br/>

<strong>Duration, Termination and Suspension</strong>
<p>
The Contract continues as long as it takes us to perform the Services.
Either you or I may terminate the Contract or suspend the Services at any time by a written notice of termination or suspension to the other if that other: <br/>
 a. commits a serious breach, or series of breaches resulting in a serious breach, of the Contract and the breach either cannot be fixed or is not fixed within 30 days of the written notice; or <br/>
 b. is subject to any step towards its bankruptcy or liquidation.
</p>

</div>


