<div id="main" class="container">
    <div id="visualization"></div>
</div>
<div class="container">
    <%= render 'layouts/footer' %>
</div>

<script>
var data = [
    ['Country', ''],
    ['Austria', {v: 3}],
    ['Germany', {v: 5}],
    ['United States', {v: 6}],
    ['Czech Republic', {v: 4}],
    ['France', {v: 1}],
    ['Netherlands', {v: 1}],
    ['Norway', {v: 2}],
    ['Greece', {v: 2}],
    ['Bulgaria', {v: 10}],
    ['Italy', {v: 1}],
    ['Slovenia', {v: 1}],
    ['Slovakia', {v: 1}],
    ['Croatia', {v: 1}],
    ['Belgium', {v: 2}],
    ['Serbia', {v: 1}],
    ['Hungary', {v: 4}],
    ['Poland', {v: 2}],
    ['Nepal', {v: 2}],
    ['China', {v: 3}],
    ['Argentina', {v: 3}],
    ['Chile', {v: 2}],
    ['Brazil', {v: 1}],
    ['United Kingdom', {v: 2}],
    ['Spain', {v: 1}],
    ['Turkey', {v: 1}],
    ['Iceland', {v: 3}],
    ['Indonesia', {v: 3}],
    ['Qatar', {v: 1}],
    ['United Arab Emirates', {v: 2}]
];

function drawVisualization() {
    geochart = new google.visualization.GeoChart(document.getElementById('visualization'));
    geochart.draw(google.visualization.arrayToDataTable(data), {width: $("#main").width(), height: $("#main").height(), colorAxis: {minValue: 1, maxValue: 10, colors: ['#BEF0A1', '#11BF1D']}, legend: 'none'});
}

$(document).ready(function () {
    drawVisualization();
    $(window).resize(function () {
        drawVisualization();
    });
});
</script>
