<div class="modal fade" id="contact-form" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact</h4>
      </div>
      <form role="form" class="form-horizontal" method="post" action="<%= contact_path %>">
        <div class="modal-body">
          <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
              <input id="subject" name="subject" placeholder="Please briefly describe your inquiry" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
              <textarea id="message" name="message" rows="5" placeholder="I'd like to" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="reply_to" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-10">
              <input id="reply_to" name="reply_to" placeholder="An e-mail address where I can reach you" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> <span class="message">Send</span></button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(document).ready(function () {
    $("#contact-form form").submit(function () {
        var form = $(this), button = form.find("button:submit"), message = button.find(".message");
        message.html("Sending...");
        $.post(form.attr("action"), form.serialize(), function () {
            button.removeClass("btn-primary").addClass("btn-success");
            message.html("Message sent!");
        }).fail(function () {
            button.removeClass("btn-primary").addClass("btn-warning");
            message.html("An error occurred!");
        });
        return false;
    });
});
</script>
