<hr>
<footer>
    <span> Built to last by <a href="." target="_blank">Yavor Stoychev</a>.
        Hosted at home on yavor-arrakis
        running <a href="https://www.archlinux.org" target="_blank">Arch Linux</a>.</span>
</footer>
<br/>
