<hr>
<footer>
    <span> Built to last by <a href="." target="_blank">Yavor Stoychev</a>. 
        Hosted at home on my <a href="http://archlinuxarm.org/platforms/armv7/samsung/odroid-x2" target="_blank">Odroid X2</a> 
        running <a href="https://www.archlinux.org" target="_blank">Arch Linux</a>.</span>
    <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#contact-form"><span class="glyphicon glyphicon-envelope"></span> Get in Touch</button>
</footer>
<br/>